<!DOCTYPE html>
<html>
  <head>
    <title> The Recipe Collection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <style>
    .details-text {
      display: none;
    }
      .recipe-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    }
      
    .recipe-image {
    width: 265px;
    height: 257px;
    object-fit: cover; /* Preserve aspect ratio and fill the container */
  }
      .text-justify {
    text-align: justify;
  }
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
      
    </style>
  </head>
  
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://data-driven-web-application--spushpa1.repl.co/static/beveragebanner.jpg">
    <div class="container">
    <h2>Beverages</h2>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#strawberryDetails">Strawberry Lemonade</a> 
      <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#breakfastDetails">Healthy Breakfast Smoothie</a>
      <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#hotcocoaDetails">Creamy Hot Cocoa</a>
      <a href="#" class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#hotchocolateDetails">Caramel Hot Chocolate</a>
    </div>
<hr class="recipe-divider">
  <div id="strawberryDetails" class="collapse">
      <div class="row">
        <div class="col-sm-3">
          <img class="recipe-image" src="https://data-driven-web-application--spushpa1.repl.co/static/Strawberry_Lemonade.jpg" class="img-fluid" alt="Strawberry Lemonade Image">
        </div>
        <div class="col-sm-9">
          <b> Strawberry Lemonade </b>
          <p class="text-justify">
            This easy Strawberry Lemonade recipe is everyones favorite fresh summer drink. It's homemade and requires just three basic ingredients!
            <br>
            <br>
            Prep Time: 10 mins
            <br>
            Cook Time: 5 mins
            <br>
            Total Time: 15 mins
            <br>
            Cuisine: American
            <br>
            Calories: 187kcal
            <br>
            <br>
        </div>
      <div>
            <b>Ingredients:</b>
            <br>
            1/2 pound fresh strawberries , stems removed
            <br>
            1 1/2 cups granulated sugar
            <br>
            4 1/2-5 cups water , divided
            <br>
            1 1/2 cups fresh-squeezed lemon juice
            <br>
            <b>Instructions:</b>
            <br>
            <p class="text-justify">Use a blender or food processor to puree the strawberries. Strain them through a fine mesh sieve, if desired, to remove seeds. In a small saucepan, over medium heat, stir together sugar and 2 cups water. Bring to a boil, and stir until sugar is dissolved. Remove from heat and allow to cool to room temperature. Strain the lemon juice through a fine-mesh sieve into a 2-quart pitcher. Add simple syrup and pureed strawberries and stir to combine. Refrigerate until cold. When ready to serve, add 2 1/2 cups of cold water and stir. Taste, and add more water if it's too sweet.
            <br>
            Serve with ice.
            </p>
             <b>Nutrition:</b>
              <br>
              Calories: 187kcal | Carbohydrates: 48g | Sodium: 9mg | Potassium: 103mg | Sugar: 45g | Vitamin C: 39.3mg | Calcium: 13mg | Iron: 0.2mg
            </p>
          </div>
        </div>
      </div>
    
<hr class="recipe-divider">   
  <div id="breakfastDetails" class="collapse">
      <div class="row">
        <div class="col-sm-3">
          <img class="recipe-image" src="https://data-driven-web-application--spushpa1.repl.co/static/breakfastDetails.jpg" class="img-fluid" alt="Healthy Breakfast Smoothie">
        </div>
        <div class="col-sm-9">
          <b> Healthy Breakfast Smoothie </b>
          <p class="text-justify">
            A healthy breakfast smoothie recipe made with fresh fruit, yogurt, and rolled oats that is packed with fiber and protein for a perfect start to the day.</p>
            Prep Time: 05 mins
            <br>
            Blend Time: 03 mins
            <br>
            Total Time: 08 mins
            <br>
            Cuisine: American
            <br>
            Calories: 192kcal
            <br>
            <br>
        </div>
      <div>
            <b>Ingredients</b>
            <br>
            2 bananas
            <br>
            15 oz can peaches, undrained , or 2 cups fresh sliced peaches
            <br>
            1 1/2 cups fresh or frozen raspberries, blueberries and blackberries (I use frozen berries for a thicker smoothie but you can always add ice)
            <br>
            1/2 cup old-fashioned rolled oats
            <br>
            1 cup plain Greek yogurt or your favorite flavor
            <br>
            large handful ice
            <br>
            <b>Instructions:</b>
            <br>
            <p class="text-justify">Add fresh or frozen fruit to your blender.  Add liquid (milk, water, or low-sugar fruit juice). Add old-fashioned oats, Greek yogurt, and a handful of ice. Blend very well, until smooth. Add more ice (to thicken) or liquid (to thin) until it reaches your desired consistency. </p>
             <b>Nutrition:</b>
              <br>
              Calories: 192kcal | Carbohydrates: 39g | Protein: 8g | Fat: 1g | Cholesterol: 2mg | Sodium: 19mg | Potassium: 554mg | Fiber: 5g | Sugar: 22g | Vitamin A: 415IU | Vitamin C: 13.7mg | Calcium: 74mg | Iron: 1mg
            </p>
          </div>
        </div>
      </div>

<hr class="recipe-divider">   
  <div id="hotcocoaDetails" class="collapse">
      <div class="row">
        <div class="col-sm-3">
          <img class="recipe-image" src="https://data-driven-web-application--spushpa1.repl.co/static/coffee.jpg" class="img-fluid" alt="Creamy Hot Cocoa">
        </div>
        <div class="col-sm-9">
          <b> Creamy Hot Cocoa </b>
          <p class="text-justify">
            A homemade Hot Cocoa recipe to satisfy your sweet tooth and sooth your soul!  You'll be surprised at how easy it is to make a cup of homemade hot cocoa.</p>
            Prep Time: 05 mins
            <br>
            Cook Time: 05 mins
            <br>
            Total Time: 10 mins
            <br>
            Cuisine: American
            <br>
            Calories: 315 kcal
            <br>
            <br>
        </div>
      <div>
            <b>Ingredients</b>
            <br>
            1/3 cup unsweetened cocoa powder
            <br>
            1/3 cup granulated sugar
            <br>
            1/3 cup boiling water
            <br>
            dash of salt
            <br>
            3 1/2 cups milk
            <br>
            1/2 cup half and half (or evaporated milk)
            <br>
            3/4 teaspoon vanilla extract
            <br>
            <b>Instructions:</b>
            <br>
            <p class="text-justify">Combine the cocoa and sugar in a saucepan over medium low heat. Add a dash of salt and the boiling water. Bring the mixture to a slow boil, stirring continuously. Once boiling, turn down to a simmer and stir continually for 2 minutes. Stir in milk and heat until very hot, but not boiling! Remove from heat and add vanilla. Divide between 4 mugs. Add the half & half to the mugs of c </p>
             <b>Nutrition:</b>
              <br>
              Calories: 315kcal | Carbohydrates: 31g | Protein: 8g | Fat: 18g | Saturated Fat: 11g | Cholesterol: 62mg | Sodium: 105mg | Potassium: 413mg | Fiber: 2g | Sugar: 27g | Vitamin A: 785IU | Calcium: 270mg | Iron: 1.1mg
            </p>
          </div>
        </div>
      </div>

<hr class="recipe-divider">   
  <div id="hotchocolateDetails" class="collapse">
      <div class="row">
        <div class="col-sm-3">
          <img class="recipe-image" src="https://data-driven-web-application--spushpa1.repl.co/static/hotchoco.jpg" class="img-fluid" alt="Creamy Hot Cocoa">
        </div>
        <div class="col-sm-9">
          <b> Caramel Hot Chocolate </b>
          <p class="text-justify">
           Caramel hot chocolate with whipped cream and drizzled caramel is the perfect treat for a cool day.</p>
            Prep Time: 10 mins
            <br>
            Cook Time: 10 mins
            <br>
            Total Time: 10 mins
            <br>
            Cuisine: American
            <br>
            Calories: 1267 kcal
            <br>
            <br>
        </div>
      <div>
            <b>Ingredients</b>
            <br>
            <b>For the Caramel Sauce</b>
            <br>
            4 Tablespoons butter
            <br>
            1 cup light brown sugar , firmly packed
            <br>
            1/2 cup half and half (or use whipped cream)
            <br>
            dash of salt
            <br>
            1 Tablespoon vanilla extract
            <br>
            <b>For the Hot Chocolate</b>
            <br>
            2 cups whole milk
            <br>
            1/2 cup semi sweet chocolate chips
            <br>
            1/2 cup caramel sauce , recipe above*
            <br>
            Whipped Cream or marshmallows for topping
            <br>
            <b>Instructions:</b>
            <br>
        <b>First make the caramel sauce</b>
            <p class="text-justify">
Mix the butter, brown sugar, half-and-half and salt in a saucepan over medium-low heat. Bring the mixture to a simmer and cook, stirring often, until thickened slightly, about 5-7 minutes. Add the vanilla and cook another minute. Remove from heat and allow to cool (or refrigerate for a few minutes).
              <br>
<b>For the Hot Chocolate</b><br>
Add milk to a medium saucepan over medium heat. Once warm, stir in the chocolate chips and 1/2 cup of caramel sauce and stir well until chocolate has melted. Serve warm topped with whipped cream or marshmallows and a drizzle of caramel sauce. </p>
             <b>Nutrition:</b>
              <br>
              Calories: 1267kcal | Carbohydrates: 183g | Protein: 13g | Fat: 54g | Saturated Fat: 33g | Cholesterol: 110mg | Sodium: 562mg | Potassium: 849mg | Fiber: 4g | Sugar: 136g | Vitamin A: 1360IU | Vitamin C: 0.6mg | Calcium: 495mg | Iron: 3.7mg
            </p>
          </div>
        </div>
      </div>

  {% include 'footer.html' %}
  
  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.show-more').click(function(e) {
        e.preventDefault();
        $(this).next('.details-text').slideToggle();
        $(this).text(function(_, text) {
          return text === 'Show More' ? 'Show Less' : 'Show More';
        });
      });
    });
  </script>
</body>
</html>