<div class="dropdown-center text-center mt-4 mb-4">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    The Collection
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{ url_for('beverage') }}">Beverages</a></li>
    <li><a class="dropdown-item" href="{{ url_for('salads') }}">Salads</a></li>
    <li><a class="dropdown-item" href="{{ url_for('pastas') }}">Pastas</a></li>
    <li><a class="dropdown-item" href="{{ url_for('steaks') }}">Steaks</a></li>
  </ul>
</div>
